<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<strong>Team Members:</strong>
<ul>
  <li><strong><%= @team.leader.username %></strong></li>
  <% @team.users.drop(1).each do |user| %>
    <li><%= user.username %></li>
  <% end %>
</ul>
<% if current_user.team == @team %>
  <%= link_to 'Leave team', leave_team_path(@team), method: :post %><br>
<% end %>
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>