<div class="brackets">
  <div class="round">
    <% for i in 0..7%>
    <%= render partial:'tournaments/bracket-partials/match', locals: {stage: i, empty: false} %>
      <% end %>
  </div>
  <div class="lines">
    <% for i in 0..3%>
      <%= render partial:'tournaments/bracket-partials/lines', locals: {height: 'height:130px'} %>
        <% end %>
  </div>
  <div class="round">
    <% for i in 8..11%>
    <%= render partial:'tournaments/bracket-partials/match', locals: {stage: i, empty: false} %>
      <% end %>
  </div>
  <div class="lines">
    <% for i in 0..1%>
      <%= render partial:'tournaments/bracket-partials/lines', locals: {height: 'height:195px'} %>
    <% end %>
  </div>
  <div class="round">
    <% for i in 12..13%>
      <%= render partial:'tournaments/bracket-partials/match', locals: {stage: i, empty: false} %>
    <% end %>
  </div>
  <div class="lines">
    <%= render partial:'tournaments/bracket-partials/lines', locals: {height: 'height:325px'} %>
  </div>
  <div class="round">
    <%= render partial:'tournaments/bracket-partials/match', locals: {stage: 14, empty: false} %>
  </div>
</div>