<h1>Tournaments</h1>
<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Tournament type</th>
        <th>Participants</th>
        <th>Start date</th>
        <th>Finished</th>
      </tr>
    </thead>

    <tbody>
      <% @tournaments.each do |tournament| %>
        <tr>
          <td><%= link_to tournament.name, tournament %></td>
          <td><%= tournament.tournament_type.name %></td>
          <td><%= tournament.participants.count %>/16</td>
          <td><%= tournament.start_date %></td>
          <td><%= tournament.finished %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<br>
<%= link_to 'New Tournament', new_tournament_path %>
