<div>
  <strong>User:</strong>
  <%= @tournament.user.username %>
</div>

<div>
  <strong>Name:</strong>
  <%= @tournament.name %>
</div>

<div>
  <strong>Tournament type:</strong>
  <%= @tournament.tournament_type.name %>
</div>

<div>
  <strong>Start date:</strong>
  <%= @tournament.start_date %>
</div>

<div>
  <strong>Finished:</strong>
  <%= @tournament.finished %>
</div>

<div>
    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#participants" aria-expanded="false" aria-controls="participants">
      Participants (<%= @tournament.participants.count %>/<%= @tournament.max_participants %>):
    </a>
    <div class="collapse" id="participants">
          <% if @tournament.participants.present? %>
          <ul>
            <% @tournament.participants.each do |participant| %>
              <li>
                <% if current_user.present? && participant.team == current_user.team %>
                  <strong><%= participant.team.name %></strong>
                <% else %>
                  <%= participant.team.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <% else %>
            None
          <% end %>
      </div>
  </div>
<br>
<% if @tournament.user == current_user %>
  <% if %>
    <%= link_to 'Start tournament', start_tournament_path(@tournament), class: 'btn btn-primary', method: :post %>
  <% else %>

  <% end %>
<% end %>

<%-# add path to folder with partials and check type of tournament -%>
<% s = 'tournaments/bracket-partials/'+@tournament.tournament_type.name.downcase %>
<%= render s[0, s.length - 7], tournament: @tournament %>

<% if @current_user_in_tournament %>
  <%= link_to 'Leave tournament', leave_tournament_path(@tournament), method: :post %>
<% else %>
  <%= link_to 'Join tournament', join_tournament_path(@tournament), method: :post %>
<% end %>
<br>
<% if @tournament.user == current_user %>
<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<% end %>
<%= link_to 'Back', tournaments_path %>