<p id="notice"><%= notice %></p>

<h1>Matches</h1>

<table>
  <thead>
    <tr>
      <th>Participant a</th>
      <th>Participant b</th>
      <th>Participant a score</th>
      <th>Participant b score</th>
      <th>Stage</th>
      <th>Finished</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.participant_a.team.name %></td>
        <td><%= match.participant_b.team.name %></td>
        <td><%= match.participant_a_score %></td>
        <td><%= match.participant_b_score %></td>
        <td><%= match.stage %></td>
        <td><%= match.finished %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Match', new_match_path %>
