<p id="notice"><%= notice %></p>

<p>
  <strong>Participant a:</strong>
  <%= @match.participant_a_id %>
</p>

<p>
  <strong>Participant b:</strong>
  <%= @match.participant_b_id %>
</p>

<p>
  <strong>Participant a score:</strong>
  <%= @match.participant_a_score %>
</p>

<p>
  <strong>Participant b score:</strong>
  <%= @match.participant_b_score %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @match.stage %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @match.finished %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
