<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">Projekt</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="<%= root_path %>">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li><%= link_to "Change password", edit_user_registration_path %> </li>
      <li><%= link_to destroy_user_session_path, :method => :delete do %>Log out <span class="glyphicon glyphicon-log-out"> <% end %></li>
    <% else %>
      <li><%= link_to "Sign up" ,new_user_registration_path %></li>
      <li><%= link_to new_user_session_path do %>Log in <span class="glyphicon glyphicon-log-in"> <% end %></li>
    <% end %>
    </ul>
  </div>
</nav>